# Created by 
# /usr/bin/cfgmaker --ifref=ip --global "WorkDir: /hostlab/pc_admin_rede/var/www" private@10.20.64.178 --output /hostlab/pc_admin_rede/home/mrtgsub2.cfg


### Global Config Options

#  for UNIX
# WorkDir: /home/http/mrtg

#  for Debian
WorkDir: /var/www/mrtg

#  or for NT
# WorkDir: c:\mrtgdata

### Global Defaults

#  to get bits instead of bytes and graphs growing to the right
# Options[_]: growright, bits

EnableIPv6: no
WorkDir: /hostlab/pc_admin_rede/var/www

######################################################################
# System: router_sube2
# Description: Linux router_sube2 2.6.26.5-netkit-K2.8 #1 Thu Nov 26 15:37:25 CET 2009 i686
# Contact: Root <root@localhost> (configure /etc/snmp/snmpd.local.conf)
# Location: Unknown (configure /etc/snmp/snmpd.local.conf)
######################################################################


### Interface 1 >> Descr: 'lo' | Name: 'lo' | Ip: '127.0.0.1' | Eth: '' ###
### The following interface is commented out because:
### * it is a Software Loopback interface
# 
# Target[10.20.64.178_127.0.0.1]: /127.0.0.1:private@10.20.64.178:
# SetEnv[10.20.64.178_127.0.0.1]: MRTG_INT_IP="127.0.0.1" MRTG_INT_DESCR="lo"
# MaxBytes[10.20.64.178_127.0.0.1]: 1250000
# Title[10.20.64.178_127.0.0.1]: Traffic Analysis for 127.0.0.1 -- router_sube2
# PageTop[10.20.64.178_127.0.0.1]: <h1>Traffic Analysis for 127.0.0.1 -- router_sube2</h1>
# 		<div id="sysdetails">
# 			<table>
# 				<tr>
# 					<td>System:</td>
# 					<td>router_sube2 in Unknown (configure /etc/snmp/snmpd.local.conf)</td>
# 				</tr>
# 				<tr>
# 					<td>Maintainer:</td>
# 					<td>Root &lt;root@localhost&gt; (configure /etc/snmp/snmpd.local.conf)</td>
# 				</tr>
# 				<tr>
# 					<td>Description:</td>
# 					<td>lo  </td>
# 				</tr>
# 				<tr>
# 					<td>ifType:</td>
# 					<td>softwareLoopback (24)</td>
# 				</tr>
# 				<tr>
# 					<td>ifName:</td>
# 					<td>lo</td>
# 				</tr>
# 				<tr>
# 					<td>Max Speed:</td>
# 					<td>1250.0 kBytes/s</td>
# 				</tr>
# 				<tr>
# 					<td>Ip:</td>
# 					<td>127.0.0.1 (pc_admin_rede)</td>
# 				</tr>
# 			</table>
# 		</div>


### Interface 2 >> Descr: 'teql0' | Name: 'teql0' | Ip: '' | Eth: '' ###
### The following interface is commented out because:
### * it is administratively DOWN
### * it is operationally DOWN
### * has a speed of 0 which makes no sense
### * --ifref=ip is not unique for this interface
# 
# Target[10.20.64.178_2]: 2:private@10.20.64.178:
# SetEnv[10.20.64.178_2]: MRTG_INT_IP="" MRTG_INT_DESCR="teql0"
# MaxBytes[10.20.64.178_2]: 0
# Title[10.20.64.178_2]: Traffic Analysis for 2 -- router_sube2
# PageTop[10.20.64.178_2]: <h1>Traffic Analysis for 2 -- router_sube2</h1>
# 		<div id="sysdetails">
# 			<table>
# 				<tr>
# 					<td>System:</td>
# 					<td>router_sube2 in Unknown (configure /etc/snmp/snmpd.local.conf)</td>
# 				</tr>
# 				<tr>
# 					<td>Maintainer:</td>
# 					<td>Root &lt;root@localhost&gt; (configure /etc/snmp/snmpd.local.conf)</td>
# 				</tr>
# 				<tr>
# 					<td>Description:</td>
# 					<td>teql0  </td>
# 				</tr>
# 				<tr>
# 					<td>ifType:</td>
# 					<td>Other (1)</td>
# 				</tr>
# 				<tr>
# 					<td>ifName:</td>
# 					<td>teql0</td>
# 				</tr>
# 				<tr>
# 					<td>Max Speed:</td>
# 					<td>0.0 Bytes/s</td>
# 				</tr>
# 			</table>
# 		</div>


### Interface 3 >> Descr: 'eth0' | Name: 'eth0' | Ip: '10.20.64.178' | Eth: '06-8e-3b-d1-19-9d' ###

Target[10.20.64.178_10.20.64.178]: /10.20.64.178:private@10.20.64.178:
SetEnv[10.20.64.178_10.20.64.178]: MRTG_INT_IP="10.20.64.178" MRTG_INT_DESCR="eth0"
MaxBytes[10.20.64.178_10.20.64.178]: 1250000
Title[10.20.64.178_10.20.64.178]: Traffic Analysis for 10.20.64.178 -- router_sube2
PageTop[10.20.64.178_10.20.64.178]: <h1>Traffic Analysis for 10.20.64.178 -- router_sube2</h1>
		<div id="sysdetails">
			<table>
				<tr>
					<td>System:</td>
					<td>router_sube2 in Unknown (configure /etc/snmp/snmpd.local.conf)</td>
				</tr>
				<tr>
					<td>Maintainer:</td>
					<td>Root &lt;root@localhost&gt; (configure /etc/snmp/snmpd.local.conf)</td>
				</tr>
				<tr>
					<td>Description:</td>
					<td>eth0  </td>
				</tr>
				<tr>
					<td>ifType:</td>
					<td>ethernetCsmacd (6)</td>
				</tr>
				<tr>
					<td>ifName:</td>
					<td>eth0</td>
				</tr>
				<tr>
					<td>Max Speed:</td>
					<td>1250.0 kBytes/s</td>
				</tr>
				<tr>
					<td>Ip:</td>
					<td>10.20.64.178 ()</td>
				</tr>
			</table>
		</div>


### Interface 4 >> Descr: 'eth1' | Name: 'eth1' | Ip: '10.20.64.228' | Eth: '2a-81-7a-24-bd-55' ###

Target[10.20.64.178_10.20.64.228]: /10.20.64.228:private@10.20.64.178:
SetEnv[10.20.64.178_10.20.64.228]: MRTG_INT_IP="10.20.64.228" MRTG_INT_DESCR="eth1"
MaxBytes[10.20.64.178_10.20.64.228]: 1250000
Title[10.20.64.178_10.20.64.228]: Traffic Analysis for 10.20.64.228 -- router_sube2
PageTop[10.20.64.178_10.20.64.228]: <h1>Traffic Analysis for 10.20.64.228 -- router_sube2</h1>
		<div id="sysdetails">
			<table>
				<tr>
					<td>System:</td>
					<td>router_sube2 in Unknown (configure /etc/snmp/snmpd.local.conf)</td>
				</tr>
				<tr>
					<td>Maintainer:</td>
					<td>Root &lt;root@localhost&gt; (configure /etc/snmp/snmpd.local.conf)</td>
				</tr>
				<tr>
					<td>Description:</td>
					<td>eth1  </td>
				</tr>
				<tr>
					<td>ifType:</td>
					<td>ethernetCsmacd (6)</td>
				</tr>
				<tr>
					<td>ifName:</td>
					<td>eth1</td>
				</tr>
				<tr>
					<td>Max Speed:</td>
					<td>1250.0 kBytes/s</td>
				</tr>
				<tr>
					<td>Ip:</td>
					<td>10.20.64.228 ()</td>
				</tr>
			</table>
		</div>


